---
import Layout from "../layouts/Layout.astro";
import Agenda from "../components/Agenda.astro";
import { mapTextComponent } from "../functions/mapTextComponent";
import { HomepageDocument } from "../graphql/graphql";
import { execute } from "../functions/fetchPrepr";

const homepageData = await execute(HomepageDocument);

const informationColor = {
  background: homepageData.Homepage?.information_background_color,
  text: homepageData.Homepage?.information_text_color,
};

const inspirationColor = {
  background: homepageData.Homepage?.inspiration_background_color,
  text: homepageData.Homepage?.inspiration_text_color,
};

const information = homepageData.Homepage?.information;
const inspiration = homepageData.Homepage?.inspiration;
---

<Layout>
  <div id="container">
    <!-- <img id="background" src={background.src} alt="" fetchpriority="high" /> -->
    <svg
      class="fixed inset-0 transform -translate-x-full"
      style="display: none"
    >
      <defs>
        <filter id="n0">
          <feTurbulence
            type="turbulence"
            baseFrequency="0.001 0.1"
            numOctaves="5"
            result="NOISE"></feTurbulence>
          <feGaussianBlur in="SourceGraphic" result="BLURRED" stdDeviation="4.5"
          ></feGaussianBlur>
          <feDisplacementMap
            in2="NOISE"
            in="BLURRED"
            scale="50"
            xChannelSelector="R"
            yChannelSelector="G"></feDisplacementMap>
        </filter>
        <filter id="n1">
          <feTurbulence
            type="fractalNoise"
            baseFrequency="0.001 0.001"
            numOctaves="5"
            result="NOISE"
            seed="172821"></feTurbulence>
          <feGaussianBlur in="SourceGraphic" result="BLURRED" stdDeviation="0"
          ></feGaussianBlur>
          <feDisplacementMap
            id="displacer"
            in2="NOISE"
            in="BLURRED"
            scale="15"
            xChannelSelector="R"
            yChannelSelector="R"
            result="DISPLACED"></feDisplacementMap>
        </filter>
        <filter id="n2" color-interpolation-filters="sRGB">
          <feTurbulence
            type="fractalNoise"
            baseFrequency="0.001 0.001"
            numOctaves="5"
            result="NOISE"
            seed="172821"></feTurbulence>
          <feGaussianBlur in="SourceGraphic" result="BLURRED" stdDeviation="0"
          ></feGaussianBlur>
          <feDisplacementMap
            id="displacer"
            in2="NOISE"
            in="BLURRED"
            scale="15"
            xChannelSelector="R"
            yChannelSelector="R"
            result="DISPLACED"></feDisplacementMap>
          <feColorMatrix
            in="DISPLACED"
            result="RED"
            type="matrix"
            values="0 0 0 0 0
                            0 1 0 0 0
                            0 0 1 0 0
                            0 0 0 1 0"
          ></feColorMatrix>
          <feColorMatrix
            in="DISPLACED"
            result="GREEN"
            type="matrix"
            values="1 0 0 0 0
                            0 0 0 0 0
                            0 0 1 0 0
                            0 0 0 1 0"
          ></feColorMatrix>
          <feColorMatrix
            in="DISPLACED"
            result="BLUE"
            type="matrix"
            values="1 0 0 0 0
                            0 1 0 0 0
                            0 0 0 0 0
                            0 0 0 1 0"
          ></feColorMatrix>
          <feOffset in="RED" dx="-3" dy="0" result="D_RED"></feOffset>
          <feOffset in="GREEN" dx="0" dy="0" result="D_GREEN"></feOffset>
          <feOffset in="BLUE" dx="3" dy="0" result="D_BLUE"></feOffset>
          <feBlend in="D_RED" in2="D_BLUE" out="RB" mode="multiply"></feBlend>
          <feBlend in="D_GREEN" in2="RB" out="RGB" mode="multiply"></feBlend>
        </filter>
      </defs>
    </svg>

    <main>
      <section
        class="information"
        style={{
          "--text-color": informationColor.text,
          "--background-color": informationColor.background,
        }}
      >
        <h2 class="title">Katja</h2>
        {
          information?.map((info) => {
            switch (info.__typename) {
              case "Agenda":
                console.log("Agenda");
                return <Agenda agenda={info.agenda} />;
              case "Tekst":
                const text = mapTextComponent(info);
                return (
                  <span class:list={text.classList} set:html={text.text} />
                );
              case "Spotify":
                return <a href={info.spotify?.url}> {info.spotify?.url} </a>;
              case "Image":
                return (
                  <img
                    src={info.image?.url}
                    alt=""
                    width="1536"
                    height="2048"
                  />
                );
            }
          })
        }
      </section>
      <section
        class="inspiration"
        style={{
          "--text-color": inspirationColor.text,
          "--background-color": inspirationColor.background,
        }}
      >
        <h2 class="title">Isabella</h2>
        {
          inspiration?.map((inspi: any) => {
            switch (inspi.__typename) {
            }
          })
        }
      </section>
    </main>
  </div>
</Layout>
<style>
  html {
    /* blue color pallate */
    --blue-200: oklch(25% 0.2 200);

    /* green color pallate */
    --green-200: oklch(90% 0.1 150);

    /* white color */
    --white: oklch(100% 0.075 0);

    /* named tokens */

    --text-color: var(--white);
  }

  .inspiration {
    --background-color: var(--blue-200);
  }

  .information {
    --background-color: var(--green-200);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  @font-face {
    font-family: "Staatliches";
    src: url("/public/Staatliches-Regular.ttf") format("truetype");
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .title {
    filter: url(#n1);
    font-family: "Staatliches", sans-serif;
    letter-spacing: 0.12em;
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 0.25em;
  }

  .information > .title {
    text-align: right;
  }

  :global(p) {
    margin-block: 1em;
    line-height: 1.5;
    font-size: 1.25rem;
  }

  @media screen and (min-width: 768px) {
    :global(p) {
      font-size: 1.5rem;
    }
  }

  :global(.distorted > p) {
    filter: url(#n1);
  }

  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }

  #container {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
    height: 100%;
  }

  main {
    min-height: 100%;
    display: flex;
    scrollbar-width: thin;
  }

  main > section {
    padding: 2rem;
    height: 100vh;
    height: 100dvh;
    width: 50%;
    flex-basis: 500px;
    max-width: 90vw;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: scroll;
  }

  .information,
  .inspiration {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  h2 {
    margin: 0 0 1em;
    font-weight: normal;
    font-size: 2rem;
  }

  :global(*) {
    box-sizing: border-box;
  }

  :global(p) {
    margin: 0;
  }
</style>
